/*header*/
header
{
    margin-top: 10px;
    padding: 20px;
    width: 60%;
    background-color: #cccccc;
    border-style: solid;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
}
/*Main*/
.caja-encriptar-desencriptar
{
    margin: 20px;
    background-color: #cccccc;
    width: 60%;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
}
.encriptar-desencriptar
{
    width: 70%;
    margin: 10px auto;
}
.contenedor-textarea
{
    width: 100%;
}
/*section*/
.resultados
{
    width: 35%;
    height: 90vh;
    background-color: #cccccc;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
}